:root {
    --main-bg-color: #130f26;
}


/* Textos */
h2,h3 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

p {
    font-weight: 300;
    font-size: 15px;
}

/* Contenido */
body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;

}


.container {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

/* drop de imagenes */
.container-drop {
    margin-top: 50px;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drop {
    -webkit-box-shadow: -2px -1px 50px -4px #528565;
    box-shadow: -2px -1px 50px -4px #528565;
    background-image: url("../images/drop.png");
    background-size: cover;
    height: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#divError {
    display: none;
}

.div-error {
    color: white;
    text-align: center;
    margin: auto;
    height: 200px;
    width: 70%;
    background-color: #14151F;
    border: white solid 1px;
    border-radius: 5px;
}

.div-error button {
    width: 30%;
    background-color: #569b51;
    margin-top: 20px;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

#listaArchivos {
    display: flex;
    flex-direction: column;
}

/* SUCCESS */
#success{
    display: none;

}


    .wrapper {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: none
        }

        50% {
            transform: scale3d(1.1, 1.1, 1)
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142
        }
    }


.active {
    filter: brightness(1.5);
    transition: 0.5s;
}

/* login */
.login {
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 25%;
    height: 400px;
}

.login p {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

/* BOTONES */
/* Boton drop */
.btn-drop {
    width: 100%;
    background-color: #569b51;
    margin-top: 60px;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

/* Boton Login */

.icon-login {
    display: flex;
    margin: auto;
}

.btn-login {
    background-color: var(--main-bg-color);
    border: solid white 1px;
    color: white;
    width: 100%;
    padding: 9px 0;
    font-size: 13px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    background-image: url('../images/google.png');
    background-position: 5%;
    background-size: 12%;
    background-repeat: no-repeat;
}

.img-google {
    display: flex;
    justify-content: flex-start;
}