:root {
    --main-bg-color: #130f26;
}


/* Textos */
h2 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

p {
    font-weight: 300;
    font-size: 15px;
}

/* Contenido */
body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;

}


.container {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

/* drop de imagenes */
.container-drop {
    margin-top: 50px;
    width: 50%;
    height: 500px;
}

.drop {
    -webkit-box-shadow: -2px -1px 50px -4px #528565;
    box-shadow: -2px -1px 50px -4px #528565;
    background-image: url("/images/drop.png");
    background-size: cover;
    height: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* login */
.login {
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 25%;
    height: 400px;
}

.login p {
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

/* BOTONES */
/* Boton drop */
.btn-drop{
    width: 100%;
    background-color: #569b51;
    margin-top: 60px;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
} 
   /* Boton Login */ 

   .icon-login{
    display: flex;
    margin: auto;
   }
   .btn-login{
    background-color: var(--main-bg-color);
    border: solid white 1px;
    color: white;
    width: 100%;
    padding: 9px 0;
    font-size: 13px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    background-image: url('/images/google.png');
    background-position: 5%;
    background-size: 12%;
    background-repeat: no-repeat;
}

.img-google{
display: flex;
justify-content: flex-start;
}
